@model Usda.Lib.Models.Family


    @ViewBag.Title = "CreateFromCandidate";



<h2>Create Family From Candidates</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Family</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaleGenotype)
        @Html.HiddenFor(model => model.FemaleGenotype)
        @Html.EditorFor(m => m)
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<