@using Usda.PlantBreeding.Core.Models
@model PhenotypeDisplayComponentViewModel



<tr class="@string.Format("page-{0}", Model.MapComponentRow)" id="@string.Format("{0}-{1}", Model.Id, "row")">
    <td>
        @Html.ActionLink(Model.MapComponentMapFullName, "Details", "Default", new { Area = "Maps", id = Model.MapComponentMapId }, null)
    </td>
    <td style="text-align: right;">
        @Html.DisplayFor(m => m.MapComponentPickingNumber)
    </td>
    <td>
        @Html.DisplayFor(m => m.MapComponentRep)
    </td>
    <td>
        @Html.DisplayFor(m => m.YearYear)
    </td>

    @foreach (var i in Model.QuestionOrder)
    {
        <td style="text-align:center!important; min-width:3em;">
            @Html.Raw(Model.Answers[i].Text ?? "")
        </td>
    }
    <td>
        @Html.EditorFor(m => m, "MapComponentSummaryFates")
    </td>
    <td>
        @Html.EditorFor(m => m, "MapComponentSummaryComments")

    </td>

</tr>