@model IEnumerable<Usda.PlantBreeding.Data.Models.Genotype>
@using Usda.PlantBreeding.Data.Models;

@{
    ViewBag.Title = "Accessions";
    Genotype genotype = new Genotype();
}

<script>
    function DistributionReport() {
        var url =  "@Url.Action("Distributions", "Default", new { area="Reporting"})";
        url = url.replace(/&amp;/g, '&');

        window.open(url, "_blank");
    }
</script>

<div class="" style="float:right;">
    <a onclick="DistributionReport()" class="btn">Distribution Report</a>
</div>
<div class="row"></div>


@using (Html.BeginForm("Index", "SelectionSummary", FormMethod.Get))
{

    <div class="form-group form-inline">
        <div class="col-sm-offset-4 col-sm-4">
            @*@GenotypeHelpers.GenotypeDataList(@Url, "search", "id", ViewBag.GenusId)*@
            @AutoComplete.Search(@Url.Action("Search", "Default", new { area = "Accessions" }), @ViewBag.GenusId, "id", "filter", "", "", false, "Accession")

            <input type="submit" class="btn btn-success" />
        </div>
    </div>
}

@Html.ActionLink("Clear", "Index", new { filter = "" })

<div class="row"></div>

@if (Model != null && Model.Any())
{
    <div class="panel panel-default col-md-offset-2" style="width:62%">
        <div class="panel-body">
            <table class="table table-striped text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Family.FemaleParent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Family.MaleParent)
                    </th>
                </tr>
                @foreach (Genotype item in Model)
                {
                    <tr>
                        <th>
                            @Html.ActionLink(item.Name, "Detail", new { id = item.Id })
                        </th>
                        <th>
                            @Html.DisplayFor(m => item.Family.FemaleGenotype.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(m => item.Family.MaleGenotype.Name)
                        </th>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else if (@ViewBag.Searched != null && @ViewBag.Searched)
{
    <div class="col-sm-offset-4 col-sm-4">
        No results for <strong>@ViewBag.Filter</strong>
    </div>
}
