@model IEnumerable<Usda.PlantBreeding.Data.Models.Origin>


    <style>
        #originTable .highlighted td {
            border-bottom: 3px solid #0099ff;
            border-top: 3px solid #0099ff;
            margin: -3px -3px -3px -3px;
        }

        #originTable .highlighted td:last-child {
            border-right: 3px solid #0099ff;
        }

        #originTable .highlighted td:first-child {
            border-left: 3px solid #0099ff;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            var originId = @ViewBag.OriginId;
            var searchtr = document.getElementById("" + originId);

            //Scroll to matching origin and highlight it
            if (searchtr) {

                searchtr.classList.add("highlighted");

                var scrollToPos = $(searchtr).offset().top;
                $(document).scrollTop(scrollToPos - 100);

            }

        });
    </script>

<div class="row"></div>
<p class="text-center">
    @Html.ActionLink("+ Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="panel panel-default">
    <div class="panel-body">
        <br />

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#active" aria-controls="Active" role="tab" data-toggle="tab">Active</a></li>
            <li role="presentation" class="retired"><a href="#retired" aria-controls="Retired" role="tab" data-toggle="tab">Retired</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="active">
                <br />
                <table class="table table-striped table-hover " id="originTable" style="width: 36% !important; margin-left:32%">
                    <thead>
                        <tr class="primary">
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>

                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Where(i => i.Retired == false))
                    {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink(item.Retired ? "Unretire" : "Retire", "Retire", new { id = item.Id })
                    </td>
                </tr>
                    }

                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="retired">
                <br />
                <table class="table table-striped table-hover " style="width: 36% !important; margin-left:32%">
                    <thead>
                        <tr class="primary">
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Where(i => i.Retired == true))
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink(item.Retired ? "Unretire" : "Retire", "Retire", new { id = item.Id })
                    </td>
                </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>