@model Usda.PlantBreeding.Data.Models.CrossType

@{
    ViewBag.Title = "Edit";
}
<div class="row"></div>
<hr />

<div class="text-center">
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="form-horizontal" style="width: 40% !important; margin-left:30%">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.GenusId)

        <div class="form-group">
            <label class="col-md-3 control-label" for="(model => model.Name)">@Html.DisplayFor(model => model.NameLabel)</label>
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-3"})
            <div>
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "IndexByGenus", new { id = Model.GenusId })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
