@model Usda.PlantBreeding.Data.Models.Family



<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CrossNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrossNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldPlantedNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldPlantedNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransplantedNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransplantedNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReciprocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReciprocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeedNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeedNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrossTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrossTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PloidyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PloidyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReciprocalString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReciprocalString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalName)
        </dd>

    </dl>
</div>

