@model Usda.PlantBreeding.Data.Models.Map

<div class="row">

    <div class="col-md-4 col-sm-4 col-xm-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlantingYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlantingYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
        </dl>
    </div>
    <div class="col-md-4 col-sm-4 col-xm-4">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Retired)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Retired)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsSeedlingMap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSeedlingMap)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PicklistPrefix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PicklistPrefix)
            </dd>

        </dl>

    </div>

    <div class="col-md-4 col-sm-4 col-xm-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DefaultPlantsInRep)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefaultPlantsInRep)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EvaluationYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EvaluationYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartCorner)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartCorner)
            </dd>
        </dl>
    </div>
</div>
