@model Usda.PlantBreeding.Core.Models.AccessionReportViewModel

@{
    ViewBag.Title = "Accessions";
    ViewBag.IndexTitle = "Accessions";
}
<div class="row"></div>
<h2>Accession Parents</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">

            <div class="col-md-6">
                @Html.HiddenFor(modle => Model.isPlanning)


                <div class="form-group">
                    @Html.LabelFor(model => model.GenusId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.GenusId, (IEnumerable<SelectListItem>)ViewBag.Genus, "", new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.GenusId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OriginOptionValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.OriginOptionValue, (IEnumerable<SelectListItem>)Model.OriginOptions, "", new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.OriginOptionValue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccessionOptionValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.AccessionOptionValue, (IEnumerable<SelectListItem>)Model.AccessionReportOptions, "", new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.AccessionOptionValue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Report" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}


